<div class="jumbotron text-center">
  <h1>Kanye says:</h1>
  <p>"{{ quote }}"</p>
  <button
    type="button"
    class="btn btn-dark"
    [disabled]="isFetching"
    (click)="updateQuote()"
  >
    Get new Quote
  </button>
  <button
    type="button"
    class="btn btn-success ml-3"
    [disabled]="isFetching"
    (click)="saveQuote()"
  >
    Save Quote
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{ quotes.length }}</h3>
      <p>Number of quotes</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ avgLength }}</h3>
      <p>Average length</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ maxLength }} characters</h3>
      <p>Max length</p>
    </div>
  </div>
</div>
