<div class="jumbotron text-center">
  <h1>Kanye says:</h1>
  <p>"{{ quote }}"</p>
  <button
    type="button"
    class="btn btn-dark"
    (click)="updateQuote()"
  >
    Get new Quote
  </button>
  <button
    type="button"
    class="btn btn-success ml-3"
    (click)="saveQuote()"
  >
    Save Quote
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{ quotes.length }}</h3>
      <p>Number of quotes</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ avgLength }}</h3>
      <p>Average length</p>
    </div>
    <div class="col-sm-4">
      <h3>{{ maxLength }} characters</h3>
      <p>Max length</p>
    </div>
  </div>
</div>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Quote</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let quote of quotes; index as i">
        <th scope="col">{{ i + 1 }}</th>
        <td>{{ quote }}</td>
      </tr>
  </tbody>
</table>